html, body {min-height: 1700px;margin: 0;}
body{
    line-height: 1.5;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
    font-size: 15px;
    word-wrap: break-word;
    position: relative;
}
header {margin: 0;}
ol, ul{
    list-style: none;
}
blockquote, q{
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}
a, a:focus, a:link, a:hover {color:#000;text-decoration: none;}
a, img, input, button, textarea {outline: none;}
.clearfix:before, .clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.fix-width {
    width: 780px;
    margin: 0 auto;
}

body {
    background: url("../img/tile.png") center top repeat; 
    background: url("../img/tile.png") center top repeat;  
    background: url("../img/tile.png") center top repeat;  
    background: url("../img/tile.png") center top repeat; 
}

.towel_wrapper {
    width: 1280px;
    height: 1225px;
    position: absolute;
    /*z-index: 1;*/
    top: 142px;
    left: 50%;
    margin-left: -640px;
}
.towel_wrapper .holder {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 31px;
    background: url("../img/holder.png") center top no-repeat;
}
.towel_wrapper .towel {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    top: 0px;
    background: url("../img/towel.png") center top no-repeat;
}
.towel_wrapper .towel_shadow {
    width: 916px;
    height: 600px;
    position: absolute;
    top: 12px;
    left: 184px;
    z-index: 2;
    background: url("../img/towel_shadow.png") center top no-repeat;
}
.towel_wrapper .social {
    width: 78px;
    height: 177px;
    position: absolute;
    z-index: 1;
    top: 140px;
    right: 160px;
    background: url("../img/social_back.png") 0 0 no-repeat;
}
.social a {
    display: block;
    width: 23px;
    height: 20px;
    margin: 14px 30px;
    background: url("../img/sprite.png") 5px -30px no-repeat;
}
.social a.tw {
    background-position: 3px -89px;
}
.social a.gp {
    background-position: 1px -147px;
}
.social a.yt {
    background-position: 3px -210px;
}

.page_opacity {
    background: -webkit-linear-gradient(top, rgba(246,248,251,0) 30%, rgba(246,248,251,1) 70%) no-repeat; 
    background: -moz-linear-gradient(top, rgba(246,248,251,0) 30%, rgba(246,248,251,1) 70%);  
    background: -o-linear-gradient(top, rgba(246,248,251,0) 30%, rgba(246,248,251,1) 70%);  
    background: -ms-linear-gradient(top, rgba(246,248,251,0) 30%, rgba(246,248,251,1) 70%); 
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
}
.oldie .page_opacity {
    filter: progid:DXImageTransform.Microsoft.gradient(StartColorStr=#10ffffff, EndColorStr=#fff6f8fb, GradientType=0);
    zoom: 1;
}


header {
    width: 100%;
    height: 590px;
    text-align: center;
    position: relative;
    z-index: 3;
    zoom: 1;
}
#logo a{
    display: inline-block;
    height: 70px;
    width: 219px;
    margin: 31px 0 7px;
    background: url("../img/logo.png") 0 0 no-repeat;
}
.tel {
    display: inline-block;
    padding: 0 21px 0 29px;
    background: url("../img/sprite.png") 0 2px no-repeat;
    font-size: 19px;
    line-height: 28px;
    /*color: #084d7c;*/
    color: rgba(8,77,124,0.6);
    text-transform: uppercase;
}
.oldie .tel {color: #6793b1;}

.advantages {margin-top: 155px;position: relative;}
.advantages .money, .advantages .delivery, .advantages .business {
    width: 33%;
    float: left;
    height: 205px;
    background: url("../img/money.png") center bottom no-repeat;
}
.advantages .delivery {
    background: url("../img/delivery.png") center bottom no-repeat;
}
.advantages .business {
    background: url("../img/family.png") center bottom no-repeat;
}

.sign_up {
    position: relative;
    z-index: 4;
    height: 325px;
    background: rgba(217,224,233,0.9);
    border-top: 1px solid #fff;
    text-align: center;
    padding: 47px 0 53px;
}
.oldie .sign_up {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9d9e0e9,endColorstr=#e9d9e0e9);
    zoom: 1;  
}
.sign_up .welcome {
    color: #002f4f;
    font-size: 30px;
    line-height: 38px;
    width: 650px;
    margin: 0 auto;
}
.sign_up .description {
    color: #002f4f;
    font-size: 18px;
    line-height: 26px;
    width: 700px;
    margin: 0 auto;
}

input, textarea {
    border: 1px solid transparent;
    text-align: left;
    moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    -webkit-box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
}
input:focus, textarea:focus {
    border: 1px solid #44d4f6;
    -moz-box-shadow: 0px 0px 2px 1px #9de6f8;
    -webkit-box-shadow: 0px 0px 2px 1px #9de6f8;
    box-shadow: 0px 0px 2px 1px #9de6f8;
}
button {cursor: pointer;}

#sign_up_form {
    width: 740px;
    margin: 45px auto 57px;
}
#sign_up_form input {
    width: 225px;
    height: 42px;
    line-height: 42px;
    padding: 0 15px;
    margin: 0 6px;
    /*color: #9da7b0;*/
    font-size: 18px;
}
.oldie #sign_up_form input {
    background: url("../img/ie_input.png") 0 0 no-repeat;
}
#subscribe {
    border: none;
    moz-border-radius: 3px; 
    -webkit-border-radius: 3px; 
    -khtml-border-radius: 3px; 
    border-radius: 3px;
    -moz-box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    -webkit-box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    background: -webkit-linear-gradient(top, #65c24d, #48ac2e); 
    background: -moz-linear-gradient(top, #65c24d, #48ac2e);  
    background: -o-linear-gradient(top, #65c24d, #48ac2e);  
    background: -ms-linear-gradient(top, #65c24d, #48ac2e); 
    width: 180px;
    height: 42px;
    margin: 0 6px;
    color: #fff;
    font-size: 18px;
}
#subscribe:hover {
    background: -webkit-linear-gradient(top, #48ac2e, #65c24d); 
    background: -moz-linear-gradient(top, #48ac2e, #65c24d);  
    background: -o-linear-gradient(top, #48ac2e, #65c24d);  
    background: -ms-linear-gradient(top, #48ac2e, #65c24d); 
}
.oldie #subscribe {
    width: 183px;
    height: 44px;
    background: url("../img/ie_button.png") 0 0 no-repeat;
}

.content {
    position: relative;
    z-index: 4;
    height: 630px;
    background: rgba(246,248,251,0.5);
    padding-bottom: 30px;
    font-family: 'PT Sans', sans-serif;
}
.oldie .content {
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#e9f6f8fb,endColorstr=#e9f6f8fb);
    zoom: 1;  
}
.content .col_wrap {
    overflow: hidden;
    padding: 58px 0;
}
.content .left_col {
    width: 410px;
    padding: 0 32px 0 10px;
    float: left;
    height: 480px;
    border-right: 1px solid #e1e6ed;
    font-size: 16px;
    line-height: 19px;
}
.content .left_col p {
    margin: 3px 0 20px;
}

.content .right_col {
    width: 280px;
    float: left;
    height: 480px;
    padding-left: 39px;
}
.content .right_col .head {
    font-size: 30px;
    line-height: 30px;
    color: #59768b;
}
#contact_us_form {
    margin-top: 20px;
}
#contact_us_form input {
    font-size: 14px;
    color: #000;
    width: 255px;
    height: 33px;
    margin: 4px 0;
    padding: 0 12px;
    font-family: 'PT Sans', sans-serif;
}
#contact_us_form textarea {
    font-size: 14px;
    color: #000;
    width: 255px;
    height: 50px;
    margin: 4px 0;
    padding: 8px 12px;
    font-family: 'PT Sans', sans-serif;
}
#send {
    float: right;
    width: 96px;
    height: 32px;
    border: none;
    moz-border-radius: 2px; 
    -webkit-border-radius: 2px; 
    -khtml-border-radius: 2px; 
    border-radius: 2px;
    -moz-box-shadow: 1px 1px 0px 0px #e8eaed, -1px 1px 0px 0px #e8eaed, 0px 2px 0px 0px #e8eaed;
    -webkit-box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    box-shadow: 1px 1px 0px 0px #d5dae1, -1px 1px 0px 0px #d5dae1, 0px 2px 0px 0px #d5dae1;
    background: #cfcfcf;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
}
#send:hover {
    background: #b8b8b8;
}

.note {
    font-size: 12px;
    text-align: center;
}

footer {
    height: 110px;
    position: relative;
    z-index: 4;
    zoom: 1;
    background: url("../img/footer.png") 0 0 repeat-x #fff;
    overflow: hidden;
}
.copyright {
    float: left;
    color: #084d7c;
    font-size: 19px;
    margin: 40px 15px 0;
}
.footer_logo {
    float: right;
    width: 170px;
    text-align: left;
    color: #084d7c;
    font-size: 11px;
    line-height: 28px;
    font-family: Arial;
    margin: 22px -24px;
}
.footer_logo a {
    display: block;
    width: 137px;
    height: 36px;
    background: url("../img/footer_logo.png") 0 0 no-repeat;
}
